# HTTP configuration
app:
  http: grocer-http

replicaCount:
  http: 3

http:
  port: "8080"
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1024Mi"
      cpu: "1000m"
  probes:
    startup:
      initialDelaySeconds: 10
      periodSeconds: 5
      failureThreshold: 30
      successThreshold: 1
    liveness:
      initialDelaySeconds: 30
      periodSeconds: 10
    readiness:
      initialDelaySeconds: 5
      periodSeconds: 5
