# Job configuration
app:
  job: grocer-job

job:
  backoffLimit: 4
  ttlSecondsAfterFinished: 3600
  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
    limits:
      memory: "512Mi"
      cpu: "500m"
